
header h1{
  color: rgb(104, 14, 189);
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
  font-size: xx-large;
  
}
header{
  border-bottom: 3px solid black;
}

/* Counter app */
.first{
  /* border: 2px solid black; */
  height: 60vh;
  width: 100%;
}
.first h3 , .second h3, .userData h3{
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: xx-large;
  color: rgb(189, 28, 189);
} 
.card{
  box-shadow: 2px 2px 2px 2px gray;
}

.btn{
   /* height: 6vh !important;
   width: 6vw !important; */
   color: white !important;
   font-weight: 600 !important;
   font-size: x-large !important;
   cursor: pointer;
   /* border-radius:  50px !important; */
}

/* Rich text editor */
.second{
  /* border: 2px solid yellowgreen; */
  height: 60vh;
  width: 100%;
}
.editorbox{
  font-size:x-large !important;
  border: 3px solid rgb(190, 38, 190);
  
  padding: 5px;
  cursor: pointer;
}

/* userData css */
.userData{
  /* border: 2px solid black; */
  height: 60vh;
  width: 100%;
}

.formlabel{
  font-size:large !important;
  margin: 10px !important;
}
.formcontrol{
  padding: 12px !important;
  font-size: large !important;
  margin: auto !important;
}